{
    "auth": "${PERKEEP_AUTH}",
    "listen": ":3179",
    "identity": "${PERKEEP_IDENTITY}",
    "identitySecretRing": "${PERKEEP_SECRING}",

    "blobPath": "${PERKEEP_BLOBPATH}",
    "packRelated": true,
    "levelDB": "${PERKEEP_LEVELDB}",

    "shareHandler": false
}
